<div  *ngIf="diseases.length>0; else nodiseases">

<div class="card">
  <div class="card-body">
   <table class="table">

     <thead>
       <tr>

         <th scope="col">#</th>
         <th scope="col">Name</th>
         <th scope="col">Signs</th>
         <th scope="col">Details</th>
       </tr>
     </thead>
     <tbody *ngFor="let d of diseases">
       <tr>
         <th scope="row">1</th>

         <td>{{d.name |summary}}</td>
         <td>{{d.signs|summary:20}}</td>
         <td [routerLink]="['/diseases',d.id]" class="btn btn-primary">Details</td>

       </tr>


     </tbody>
   </table>





   </div>

   <ng-template #nodiseases>
     <h3>No Coffee Diseases Available</h3><span><a routerLink='new'>Add new</a></span>
   </ng-template>
  </div>
</div>