<div  *ngIf="diseases.length>0; else nodiseases">

    <div class="row" *ngFor="let d of diseases|async">


        <div class="card mt-2" style="width: 18rem;">
      
            <img src="{{d.photo}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{d.name |summary}}</h5>
              <p class="card-text">{{d.signs|summary:20}}</p>
              <a [routerLink]="['/disease',d.id]" class="btn btn-primary">Details</a>
            </div>
          </div>
    </div>
    
</div>

<ng-template #nodiseases>
<h3>No Coffee Diseases Available</h3><span><a routerLink='new'>Add new</a></span>
</ng-template>